@mixin blur($px: 5px) {
  -webkit-filter: blur($px);
  -moz-filter: blur($px);
  -o-filter: blur($px);
  -ms-filter: blur($px);
  filter: blur($px);
}

@mixin textshadow($width: 1px, $height: 1px, $blur: 1px, $color: black) {
  text-shadow: $width $height $blur $color;
}

@mixin textstroke($width: 1px, $color: black) {
  -webkit-text-stroke: $width $color; 
  text-stroke: $width $color;
}

@mixin border($width: 1px, $style: solid, $color: black) {
  border: $width $style $color;
}

@mixin borderradius($radius: .5em) {
  border-radius: $radius;
}

@mixin transform($param1, $param2) {
  -webkit-transform: $param1 $param2;
  -moz-transform: $param1 $param2;
  -ms-transform: $param1 $param2;
  transform: $param1 $param2;
}

@mixin transition($param1) {
  -webkit-transition: $param1;
  -moz-transition: $param1;
  -ms-transition: $param1;
  transition: $param1;
}

@mixin lineargradient($param1, $param2, $param3) {
  background: -webkit-linear-gradient($param1, $param2, $param3);
  background: -moz-linear-gradient($param1, $param2, $param3);
  background: linear-gradient($param1, $param2, $param3);
}