@import "_aux.scss";

html, body, .container {
  background-color: black;
  width: 100%;
  height: 100%;
}

html {
  font-size: 12px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-size: calc(80% + .25vw);
}

.container {
  overflow-x: hidden;
  overflow-y: auto;
}

footer {
  position: fixed;
  bottom: 0;
}

.content {
  width: 100%;
  height: 80%;
  position: relative;
}

header {
  font-family: "Bookman Old Style";
  color: ghostwhite;
  height: 20%;
  padding-left: 1em;
  @include border;
  background-color: #2d2d2d;
  h1 {
    @include textshadow(3px, 2px, 2px);
    @include textstroke;
    @media (max-width: 360px) {
      font-size: 180%;
    }
  }
  z-index: 1;
}

section {
  // display: flex;
  // flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  margin-top: 0;
  font-family: "Verdana";
  color: ghostwhite;
  padding-left: 1em;
  position: absolute;
  z-index: 3;
  
}

.title {
  position: relative;
  z-index: 4;
  h2 {
    text-align: center;
    margin-bottom: 1em;
    @include textstroke;
    @media (max-width: 360px) {
      text-align: left;
    }
  }
}

.background {
  position: absolute;
  top: -1%;
  width: 100%;
  height: 100%;
  background-color: #2d2d2d;
  background: url("../images/background.jpg");
  background-size: 100% 100%;
  @include blur(10px);
  transform: scale(1.1);
  z-index: 1;
  &.backgrounda {
    top: 2%;
    height: 150%;
  }
}

.carruselaux {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: auto;
}

#carrusel{
  font-size: calc(80% + .25vw);
  margin-top: 3em;
  margin: auto;
  width:50em;
  display: inline-block;
  
}

.peliculas {
  @include border(2px);
  display: inline-block;
  width: 12em;
  height: 18em;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
  }
}

.principal {
  position: relative;
  margin-top: 4%;
  z-index: 6;
  -webkit-transition: all 1s;
  transition: all 1s;
  &:hover {
    transform: scale(1.2);
  }
}

.second {
  vertical-align: top;
  width: 10em;
  height: 16em;
  margin-top: 2%;
  z-index: 5;
}

.third {
  vertical-align: top;
  width: 8em;
  height: 13em;
  z-index: 4;
  &.right {
    left: -5%;
  }
  &.left {
    right: -5%;
  }
  @media (max-width: 520px) {
    display: none;
  }
}

.right {
  position: relative;
  left: -3%;
}

.left {
  position: relative;
  right: -3%;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#text {
  z-index: 3;
  position: relative;
  margin: auto;
  margin-top: 2em;
  width: 50%;
  @media (max-width: 360px) {
    width: 90%;
  }
  color: ghostwhite;
  p {
    margin:0;
    font-weight: bold;
    span {
      font-weight: normal;
    }
  }
}

.arrow {
  position: absolute;
  top: 10em;
  display: inline-block;
  width: 4%;
  cursor: pointer;
  z-index: 3;
  img {
    width: 100%;
  }
  &:hover {
    transform: scale(1.2);
  }
  @media (max-width: 520px) {
    display: none;
  }
}

#rightarrow {
  right: 20%;
}

#leftarrow {
  left: 20%;
  img {
    transform: scale(-1);
  }
}

.dialog {
  display: none;
  position: absolute;
  top: 20%;
  left: 35%;
  @media (max-width: 360px) {
    left: 0;
  }
  padding: 1.5em;
  // display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: #C0C0C0;
  @include borderradius(1em);
  @include border(2px);
  width: 30em;
  @media (max-width: 360px) {
    width: 85%;
  }
  height: 50%;
  z-index: 20;
}

.form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120%;
}

input[type="text"], input[type="email"]  {
  width: 25em;
  @media (max-width: 360px) {
    width: 15em;
  }
}

.buttons {
  position: absolute;
  right: 2em;
  bottom: 2em;
}

input[type="button"] {
  padding: .5em 1em;
  @include border;
  @include borderradius;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.curtain {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 15;
  img {
    position: relative;
    margin: auto;
    left: 32%;
  }
}

#tituloForm, #salaForm {
  font-weight: bold;
}
#salaForm {
  font-size: 120%;
}

.popup {
  display: none;
  position: absolute;
  width: 15em;
  bottom: 0;
  right: 0;
  padding: 1em;
  font-size: 150%;
  background-color: #C0C0C0;
  @include border(2px);
  @include borderradius();
  text-align: center;
  z-index: 25;
}

.options {
  position: relative;
  z-index: 4;
  color: ghostwhite;
}

#chart {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  z-index: 4;
  margin: auto;
  width: 100%;
}

select {
  width: 15em;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 2em;
  font-size: 200%;
  a {
    color: ghostwhite;
    text-decoration: none;
  }
}

#horas a {
  display: inline-block;
  color: ghostwhite;
  text-decoration: none;
  &:hover {
    @include transform(scale(1.3), scale(1.3));
    font-weight: bold;
  }
}

.dialog a {
  display: inline-block;
  color: ghostwhite;
  text-decoration: none;
  &:hover {
    color: green;
    @include transform(scale(1.3), rotate(-7deg));
    @include transition(transform 1s);
    font-weight: bold;
  }
}

#horariosList {
  font-size: 120%;
  list-style-type: circle;
  color: green;
  a {
    margin-left: 2em;
    font-size: 100%;
    color: black;
  }
}

.barra {
  width: 90%;
  margin: auto;
  position: relative;
  top: 0;
  height: 20px;
  z-index: 4;
  margin-bottom: 0em;
  p {
    color: ghostwhite;
    margin-top: 0;
  }
}

#barraEstado {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  overflow: hidden;
  @include border(3px, solid, black);
  @include borderradius(1em);
  
}

#estado {
  width: 33%;
  height: 100%;
  background: linear-gradient(to right, rgba(203,16,16,1) 75%, rgba(203,16,16,0));
  &.pago {
    width: 66%;
  }
}

.sala {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  z-index: 4;
}

#salaCine {
  background-color: #2D2D2D;
}

.libre {
  fill: #f9f9f9;
}

.seleccionado {
  fill: lime;
}

.ocupado {
  fill: red;
}

use {
  cursor: pointer;
}

.info {
  position: relative;
  padding-left: .5em;
  z-index: 4;
  margin: auto;
  left: 0;
  right: 0;
  width: 50%;
  margin-bottom: 1em;
  background-color: rgba(0,0,0,.5);
  @include border(1px, solid, ghostwhite);
  @include borderradius;
  h3 {
    text-align: center;
    font-size: 130%;
    @include textstroke;
  }
}

header {
  img {
    width: 30em;
  }
}

footer {
  position: relative;
  z-index: 4;
  height: 15%;
  padding: 1em .5em 0;
  text-align: center;
  @include lineargradient(to top, rgba(45, 45, 45, 1), rgba(45, 45, 45, 0));
  color: ghostwhite;
  p {
    font-size: 80%;
    margin-top: .5em;
    margin-bottom: 0;
  }
  a {
    margin-bottom: 0;
  }
  &.footera {
    margin-top: 300px;
  }
}

.botones {
  position: relative;
  z-index: 4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: auto;
  left: 0;
  right: 0;
  width: 50%;
  margin-bottom: .5em;
  .botoneszoom {
    width: 60%;
  }
  button {
    width: 50px;
    height: 50px;
    margin-right: .2em;
    cursor: pointer;
    @include borderradius(.5em);
    &:hover {
      @include transform(scale(1.1), scale(1.1));
    }
  }
  .botoncomprar {
    width: 20%;
    button {
      span {
        position: relative;
        display: inline-block;
        padding-bottom: 1em;
      }
      font-size: 120%;
      font-weight: bold;
      width: 150px;
    }
  }
}

// $color: #2d2d2d;
$color: rgba(203,16,16,1);

.formulario {
  position: relative;
  z-index: 4;
  box-sizing: border-box;
  width: 320px;
  margin: auto;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
  padding-bottom: 20px;
  border-radius: 3px;
  color: ghostwhite;
  @include border(1px, solid, ghostwhite);
  @include borderradius;
  h1 {
    margin-top: 0;
    box-sizing: border-box;
    padding: 2em;
    padding-left: 3em;
  }
  h1, input::-webkit-input-placeholder, button {
    transition: all 0.3s ease-in-out;
  }
  
  h1 {
    height: 100px;
    width: 100%;
    font-size: 18px;
    background: $color;
    color: ghostwhite;
    @include borderradius;
    //border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
  }
  
  input {
    margin: 40px 25px;
    width: 280px;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px ghostwhite;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    // background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color 4%);
    background: rgba(255,255,255,0);
    //background-position: -200px 0;
    
    //background-size: 200px 100%;
    //background-repeat: no-repeat;
    // color: darken(ghostwhite, 20%);
    color: ghostwhite;
    &::-webkit-input-placeholder {
      color: ghostwhite;
      font-size: 11px;
      visibility: visible !important;
    }
    &:focus, &:valid {
      box-shadow: none;
      outline: none;
      background-position: 0 0;
      &::-webkit-input-placeholder {
        transform: translateY(-20px);
      }
    }
  }
  
  button {
    border: none;
    background: $color;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 200px;
    color: ghostwhite;
    margin-left: 70px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    &:hover { 
      transform: translateY(-3px);
      box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    }
  }
}

.precio {
  display: flex;
  flex-flow: column nowrap;
  div {
    margin-top: .5em;
    margin-bottom: .5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-right: 1em;
  }
}

#precioTotal {
  font-size: 140%;
}

#btnIndex {
  position: relative;
  margin-left: 65%;
  margin-top: 30%;
}


